<%
# Parameters:
#   ad - the ad to render
%>

<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/index.css") %>
  <%= @pinion.css_url("/assets/css/details.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
  <%= @pinion.css_url("/assets/css/tabs.css") %>
  <%= @pinion.js_url("/assets/js/tabs.js") %>
  <%= @pinion.js_url("/assets/js/sliderControl.js") %>
  
  <meta property="og:title" content="<%= ad.title %>" />
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="Support this ad on Social Teeth!" />
  <meta property="og:image" content="<%= ad.thumbnail_url(:size => 200, :cropped => true) %>" />
  <meta property="og:url" content="<%= URI.parse(url) %>"/>
  <meta property="fb:app_id" content="522481364436011" />  
<% end %>

<div id="home">
  <div class="main">
   <p class="centerAlignText"><%=ad.title%></p>
    <div class="videoWrapper"><%= erb :video_embedLarge, :locals => { :ad => ad } %></div>
    <div class="centeredDeets"><%= erb :mediumWidget, :locals => { :ad => ad } %></div>
    <%= erb :_adSlider, :locals => { :ad => ad, :numberTiles => 3 } %> 
  </div>
  
  <p id="whatIsThis" class="centerAlignText">WHAT IS THIS?</p>
  <div id="details">
    <div id="detailsLeft">
      <%=ad.description%>
      <div id="submitterDetails">
        <%=ad.about_submitter%>
      </div> 
    </div>
    <div id="thumbnailRight">
     <img src="<%= ad.thumbnail_url(:size => 200, :cropped => false) %>" alt="<%= ad.title %>"/>
  
 
    </div>
  </div>
  
  <div id="participate">
     <p class="centerAlignText">HOW YOU CAN PARTICIPATE</p>
  </div>
  
  <div id="goalWrapper">
    <div id="plan">
       <p class="centerAlignTextGoals">CAMPAIGN GOALS & PLANS</p>
    
    </div>
    <div id = "goalProgress">
      <p class="centerAlignTextGoals">PROGRESS</p>
      <h3 class="goalText"><%=((ad.payment_progress.to_f/ad.goal.to_f)*100).round%>% toward 1st goal</h3>
      <h5 id="orangeText" class="goalText"><%=ad.payment_progress.to_currency %> of <%=ad.goal.to_currency%> for ad buy</h5>
      <%= erb :_allGraphs, :locals => { :ad => ad, :payment => payment } %>
      <div id="chart_div" style="width: 500px; height: 300px;"></div>
    </div>
  
  
  </div>
  
</div>


