<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/index.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
  <%= @pinion.css_url("/assets/css/details.css") %>
  <%= @pinion.css_url("/assets/css/flowChart.css") %>
  <%= @pinion.js_url("/assets/js/flowchart.js") %>
  <%= @pinion.js_url("/assets/js/trendingCampaigns.js") %>
  <%= @pinion.js_url("/assets/js/twitterFeedPosition.js") %>
<% end %>

<div id="home"> 

  <div id="featuredAd">
   <span> TRENDING CAMPAIGN </span>
    <% @ads.each_slice(1) do |slice| %>
      <% slice.each do |ad| %>
      <%# ad=@ads[0]%>
     <div class ="allAdsTopBox">
     <h1 class="trendingTitle" ><a href="/ads/<%= ad.public_id %>"><%= ad.title %> </a> <a class="nextAd"> -> </a></h1>
    
     <div class="trendingDetails">
       <div class="trendingVideo"><%= erb :video_embedSmall, :locals => { :ad => ad } %></div>
       <div class = "trendingDescription">
        <%= ad.call_to_action %>
        <div class = "trendingAboutSubmit">
          <%= ad.about_submitter %>
        </div>
       </div>
       <div class="progressBox">
        <div class="socialMediaProgress"></div>
        <%= erb :_paymentProgress, :locals => {:ad => ad} %>
     
        <div class="bothButtons">
          <a id="participateButton" class="button" href="/ads/<%= ad.public_id %>">Participate</a>
          <a id="donateButton" class="button" href="/ads/<%= ad.public_id %>/contribute">Donate</a>
        </div>
     </div>
      </div>
    </div>
    <% end %>
    <% end %>
 </div>

 <div id="siteSummary">
    <span> WHAT DOES SOCIAL TEETH DO? </span>
    <h1> WE HELP GRASSROOTS CAMPAIGNS GET THE EXPOSURE THEY NEED </h1>
    
    <div class="trendingDetails">
      <div class="trendingVideo">
        <div class="videoEmbed">
         <iframe class="preview" id="aboutSTVid" width="240" height="150" src="http://www.youtube.com/embed/MHVOZkyI_1Q" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
        </div>
        <div id="enlargeAbout"><a href="#">Enlarge</a></div>
       </div>
       <div class = "trendingDescription">
          <p>We help regular people and grassroots organizations give their messages a global reach. If you like a message, help us buy airtime for it.</p>
        <div class = "trendingAboutSubmit">
          <a href="/about">How it Works</a>
        </div>
       </div>
       <div class="progressBox">
        <p> Latest from the blogs: </p>
       </div>
      </div>
   
   <table id="pressLogos">
      <tr>
        <td>
          <a href="http://www.forbes.com/sites/natalierobehmed/2012/07/06/a-startup-takes-on-the-super-pacs"
             target="_blank">
            <img src="/images/press/forbes.png" alt="forbes" />
          </a>
        </td>
        <td>
          <a href="http://www.businessweek.com/articles/2012-09-04/a-kickstarter-for-political-ads"
             target="_blank">
            <img src="/images/press/bloomberg.png" alt="bloomberg" />
          </a>
        </td>
        <td>
          <a href="http://www.guardian.co.uk/world/2012/jun/29/social-teeth-super-pac-crowdfunding"
             target="_blank">
            <img src="/images/press/guardian.png" alt="guardian" />
          </a>
        </td>
        <td>
          <a href="http://www.wired.co.uk/news/archive/2012-07/05/social-teeth"
             target="_blank">
            <img src="/images/press/wired.png" alt="wired" />
          </a>
        </td>
        <td>
          <a href="http://www.mediapost.com/publications/article/181537/aegis-jumptank-carat-help-give-social-teeth-site.html"
             target="_blank">
            <img src="/images/press/mediapost.png" alt="mediapost" />
          </a>
        </td>
        <td>
          <a href="http://www.fastcoexist.com/1680398/a-kickstarter-for-political-ads-will-get-you-airtime-like-a-superpac"
             target="_blank">
            <img src="/images/press/fastcompany.png" alt="fastcompany" />
          </a>
        </td>
      </tr>
    </table>
  </div>
  
  <a name="watch"></a>
  <div id="currentCampaigns">
    <span> THIS MONTH'S CAMPAIGNS </span>
    <div id="adGrid">
      <table>
       <tr>
        <% arrayCount = 0 %>
        <% @ads.delete_if { |ad| ad.id == 10 } if production? # Exhale %>
        <% @ads.each_slice(1) do |slice| %>
            <% slice.each do |ad| %>
              <td>
                <div><%= erb :widgetModule, :locals => { :ad => ad }%></div>
               
              </td>
              <% arrayCount += 1 %>
              <% if arrayCount % 3 == 0 %>
                </tr><tr>
              <% end %>
            <% end %>
        <% end %>
        </tr>
      </table>
    </div>
  </div>


 
  
</div>

<!--<%= erb :"social/twitter_feed" %>-->
