<%


%>

<a href="/ads/<%#= ad.public_id %>">
  
   <img src="<%= ad.thumbnail_url(:size => 200, :cropped => true) %>" alt="<%= ad.title %>"/>
  <p class="overlay"><%#= ad.title %></p>
</a>

 <div class="progressBoxWidget">
      <div class="socialMediaProgress"></div>
       <%#= erb :_paymentProgress, :locals => {:ad => ad} %>
      <p class="widgetCallAction"><%= ad.call_to_action %> <a href="/ads/<%= ad.public_id %>">More</a></p>
      <div class="bothButtons">
        <a id="participateButton" class="button" href="/ads/<%= ad.public_id %>">Participate</a>
        <a id="donateButton" class="button" href="/ads/<%= ad.public_id %>/contribute">Donate</a>
      </div>
   </div>
